.add-place {
  position: fixed;
  height: 100vh;
  left: 0%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  width: 100vw;
  background: rgba(15, 15, 15, 0.3);
  z-index: 200;
  backdrop-filter: blur(0.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-place .box {
  display: flex;
  width: max-content;
  height: 2.7rem;
  flex-direction: row;
  box-shadow: 0px 4px 40px rgba(240, 240, 240, 0.15);
  background: #f5f6f7;
  border-radius: 6px;
  padding: 0.35rem;
  margin: 1rem auto;
  position: relative;
}
.completion-box-item {
  width: auto;
}
.search-item {
  height: auto;
  margin: auto 0.4rem !important;
  padding: 0.25rem 0;
  background: 0;
  width: max-content;
  overflow: hidden;
}
.completion-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background: #fff;
  width: 100%;
  color: #0f0f0f !important;
  /* margin: auto 0.5rem; */
  margin: auto 0.4rem !important;
  padding: 0.25rem 0;
  width: 100%;
}

.completion-box::-webkit-scrollbar {
  display: none;
}
.completion-box {
  align-items: center;
  height: 60% !important;
  overflow: scroll;
}
