.sidebar-container {
    position: relative;
    transition: all .5s ease-in-out !important;
  padding: 1.5rem;
  background: rgba(15, 15, 15, 0.7);
  box-shadow: 0px 4px 40px rgba(240, 240, 240, 0.15);
  backdrop-filter: blur(0.8rem);
  overflow: auto;
}
.open-sidebar {
    transform: translate(0%);
}
.close-sidebar {
    transform: translate(100%);
}

@keyframes open-transition {
    from {
	right: -100%;
    } 
    to {
	right: 0%;
    }
}

.sidebar-container::-webkit-scrollbar {
  display: none;
}
.sidebar-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-self: center;
  justify-self: center;
}
li > .heading-small {
  font-weight: bold;
}
.sidebar-container li {
  margin: .8rem 0;
}
.nav-link {
  font-weight: normal;
  cursor: pointer;
}
.menu {
    display: none;
    float: right;
}
.menu #icon {
    color: #fff;
}
.disabled {
  pointer-events: none;
  opacity: 0.7;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .sidebar-container {
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
  }
}
@media screen and (max-width: 768px) {
    .menu {
	display: block;
    }
  .sidebar-container {
    overflow: scroll;
    position: fixed;
    height: 100vh;
    display: flex !important;
    right: 0%;
    bottom: 0%;
    top: 0%;
    width: 100vw;
    background: rgba(15, 15, 15, 0.3);
    z-index: 200;
    backdrop-filter: blur(0.8rem);
    flex-direction: column;
    justify-content: center;
  }
}

